<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- fully-qualified name avoids ambiguity when package/applicationId differ -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <!-- optional: make this the launcher if the app has no other launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>